@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;400;700&display=swap');


*¨{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
header{
    background-color: #bdc3ca;
    background-size: cover;
    background-position: center;
    height: 300px;
}
header h1{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
}
.contenedor_merchan{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;

}
.contenedor_merchan .contenedor_items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1));
   gap: 30px;
    row-gap: 30px;
    width: 60%;
    transition-duration: .3s;
}
.contenedor_merchan .contenedor_items .item{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    transition-duration:.3s ;
}
.contenedor_items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor_items .item .img_item{
    width: 100%;
}
.contenedor_items .item .titulo_item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor_items .item .precio_item{
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 22px;

}
.contenedor_items .item .boton_item{
    display: block;
    margin: 10px auto;
    border: none;
    background: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/*seccion login*/

.main_padre{
    width: 100%;
    height: 100%;
    background-image: url(./img/imgindex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_padre .formulario_login{

    width: 450px;
    background: rgb(255 255 255/75%);
    border-radius: 10px;
    padding: 35px 40px;
    backdrop-filter: blur(5px);

}
.main_padre .formulario_login h1{
    font-variant: small-caps;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;

}
.main_padre .formulario_login h1 span{
    color: #f57224;
}
.main_padre .formulario_login .input_simple input{
    width:100%;
    padding: 14px 10px;
    border: 1px solid rgba(0,0,0,0.352);
    outline: none;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.boton_submit{
    text-align: center;
}
.boton_submit button{
    padding: 13px 30px;
    background-color: #f57224;
    outline: none;
    border: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.tener_cuenta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}
.tener_cuenta a{
    color: rgba(34,34,34);
    text-decoration: none;
    font-family: sans-serif;
    
}
/*seccion carrito*/
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
   
}
.carrito .header_carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito_item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom:1px solid #666;
    padding: 20px;
}
.carrito .carrito_item img{
    margin-right: 20px;

}
.carrito .carrito_item .carrito_item_titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito_item .selector_cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito_item .carrito_item_cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align:  center;

}
.carrito .carrito_item .selector_cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito_item .carrito_item_precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;

}
.carrito .carrito_item .btn_eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito_item .btn_eliminar i{
    pointer-events: none;
}
.carrito_total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito_total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito_total .btn_pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito_total .btn_pagar:hover{
    scale: 1.05;
}

/*seccion responsive*/

@media screen and (max-width:850px) {
    .contenedor_merchan{
        display: block;
    }
    .contenedor_items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}



.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 60px;
    margin-top: 120px;
}

.form-control{
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0,0,15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.boton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: darkgray;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #fff;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
    
}